{% extends 'base.html' %}
{% block title %}PASSWORD RESET{% endblock %}
{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>PASSWORD RESET</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/alredy_logged_in.html" %}
            {% endif %}

            <p>SENT EMAIL FOR PASSWORD RESET</p>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}