{% extends 'base.html' %}
{% block title %}PASSWORD RESET{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>{% if token_fail %}TOKEN ERROR{% else %}RESET{% endif %}</h1>
            {% if token_fail %}
                {% url 'account_reset_password' as password_reset_url %}
                <p>LINK ERROR<a href="{{ password_reset_url }}">再申請</a></p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary" type="submit">CHANGE</button>
                        </form>
                    {% else %}
                        <p>CHANGED</p>
                    {% endif %}
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}